#header{
  transition: all 0.5s;
}
.auth{
  border-radius: 20px;
  color: white;
}
.auth:nth-child(1){
  border: 1px solid white;
}
.auth:nth-child(1):hover{
  background-color: white;
  color: black;
}
.auth:nth-child(2):hover{
  background-color: white;
  color: black;
}

@media(max-width: 768px){
  .sidebar{
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
  }
}

.link{
  color: white;
}
.link:hover{
  color: gray;
}

input, textarea{
  opacity: 80%;
}

.form{
  transition: all 0.3s ease-in;
}
.v-form{
  opacity: 100%;
  filter: blur(0);
}
.inv-form{
  filter: blur(3px);
  opacity: 0%;
}

body.modal-open{
  overflow-y: 'auto' !important;
}