<!DOCTYPE html>
<html>
    <head>
        <title>main page</title>
    </head>
    <body>
        <header>
            <h1>this is the main page</h1>
            <a href="/">home</a>
            <a href="/login">login</a>
            <a href="/signup">signin</a>
            <a href="/logout">logout</a>
        </header>
        <div class="infos">
            <h1>your first info</h1>
            <h1>your second info</h1>
            <h1>your third info</h1>
            <h1>your fourth info</h1>
            <h1>your fifth info</h1>
        </div>  
    </body>
</html>