<!DOCTYPE html>
<html>
    <head>
        <title>signin page</title>
    </head>
    <body>
        <header>
            <h1>this is the signin page</h1>
            <a href="/">home</a>
            <a href="/login">login</a>
            <a href="/signup">signin</a>
        </header>
        <div class="signinForm">
            <form action="/signup" method="post">
                <label for="femail">email:</label>
                <input type="text" id="femail" name="email" placeholder="Your email.."><br>
                <p class="emailError"></p><br>
                <label for="lpassword">password:</label>
                <input type="password" id="lpassword" name="password" placeholder="Your password.."><br>
                <p class="passwordError"></p><br>
                <button>signin</button>
              </form>
        </div> 
        
        <script></script>
    </body>
</html>